.exam-heading {
  font-weight: 600;
  color: #0d47a1;
  font-family: "Segoe UI", sans-serif;
  text-align: left;
  margin: 0;
  font-size: 1.75rem;
}

.exam-header-box {
  width: calc(100% - 32px); /* Adjust to match parent padding if needed */
  margin: 0 auto 1rem auto; /* center it */
  padding: 1rem 1.5rem;
  background: linear-gradient(90deg, #e3f2fd, #bbdefb, #90caf9);
  border-radius: 12px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}

/* Search bar style */
.search-bar {
  border-radius: 25px !important;
  transition: box-shadow 0.3s;
  background-color: #f9f9f9;
  height: 40px;
}

.search-bar:hover {
  box-shadow: 0 0 0 3px rgba(21, 101, 192, 0.15);
}

/* Select filter styling */
.filter-select {
  border-radius: 25px !important;
  background-color: #f9f9f9 !important;
  transition: box-shadow 0.3s;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  padding-left: 14px !important;
}

.filter-select:hover {
  box-shadow: 0 0 0 3px rgba(21, 101, 192, 0.15);
}

/* Reduce dropdown height */
.filter-input {
  padding-left: 10px !important;
  margin: 10 !important;
  height: 40px !important;
  width: 10pc !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 0.95rem;
}

/* Dropdown options */
.dropdown-item:hover {
  background-color: #e3f2fd !important;
}

.MuiSelect-icon {
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 12px !important;
  color: #1565c0;
}

.MuiTableBody-root {
  height: calc(100vh - 350px); /* Adjust based on navbar/header */
  /* overflow-y: hidden; */
}

.MuiTableRow-root {
  height: 48px; /* You can adjust row height */
}
